*{
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: DevilBreezeBold;
    src: url("DevilBreezeBold.ttf");
}

@font-face {
    font-family: Monserrat;
    src: url('Montserrat-Regular.ttf');
}

html{
    scroll-behavior: smooth;    
}

body{
    -webkit-animation: animate-div .5s;
    background-color: #0b0b0b;
    font-family: Monserrat;
}

.text-center{
    text-align: center;
}

.btn{
    padding: 15px 25px 15px 25px;
    border: none;
    border-radius: 30px;
    font-size: 25px;
    cursor: pointer;
    outline: none;
    box-shadow: 2px 2px 3px #07070779;
    -webkit-transition: 0.5s;
}

.btn-padrao{
    background-color: #ff9100;
    color: #fff;
    box-shadow: 2px 2px 3px #191414;
}

.btn-padrao:hover{
    background-color: #a86105;
    box-shadow: 4px 4px 6px #191414;
}

.btn-login{
    background-color: #e2176b;
    color: #fff;
    box-shadow: 2px 2px 3px #191414;
}

.btn-login:hover{
    background-color: #b60f54;
    box-shadow: 4px 4px 6px #191414;
}

.btn-cadastro{
    background-color: #ff4444;
    color: #fff;
    box-shadow: 2px 2px 3px #191414;
}

.btn-cadastro:hover{
    background-color: #a52c2c;
    box-shadow: 4px 4px 6px #191414;
}

.btn-cadastro:disabled{
    background-color: #818181;
    cursor: no-drop;
}

.btn-outline{
    color: #ff9100;
    background-color: transparent;
    border: 2px #ff9100 solid;
}

.btn-outline:hover{
    background-color: #ff9100;
    color: #fff;
}


.titulo-grande{
    font-family: DevilBreezeBold;
    color: #fff;
    font-size: 60px;
    margin: 50px auto;
}

.titulo-medio{
    font-family: DevilBreezeBold;
    color: #fff;
    font-size: 40px;
    margin: 50px auto;
}

.titulo-pequeno{
    font-family: DevilBreezeBold;
    color: #fff;
    font-size: 25px;
    margin: 20px auto;
}

.spotify{
    background-color: #1DB954;
    color: #fff;
    box-shadow: 2px 2px 3px #191414;
}

.spotify:hover{
    background-color: #0ce758;
    box-shadow: 4px 4px 3px #191414;
}

.centralizar{
    
    display: flex;
    width: 100%;
    justify-content: center;
}

.box-login input, .box-cadastro input{
    width: 100%;
    background-color: transparent;
    height: 35px;
    margin: 5px 0px 20px 0px;
    outline: none;
    border: none;
    border-bottom: 2px solid #313131;
    color: #fff;
    border-radius: 0 2px 2px;
}

.box-login .col-5{
    display: flex;
    align-items: center;
}

.box-login a{
    color: #fff;
}

.box-login input:focus, .box-cadastro input:focus{
    transition: 0.3s;
    border-bottom: 2px solid #0077ff;
}

input[type="checkbox"] {
    display:none;
}

input[type="checkbox"] + label {
    color:#f2f2f2;
}

input[type="checkbox"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-2px 10px 0 0;
    vertical-align:middle;
    background:url('img/checkbox.png') left top no-repeat;
    cursor:pointer;
}

input[type="checkbox"]:checked + label span {
    background:url('img/checkbox.png') -19px top no-repeat;
}


/* HEADER */

#header{
    width: 100%;
    padding: 20px 50px 20px 50px;
    position: fixed;
    color: #fff;
    /* font-family: DevilBreezeBold; */
    z-index: 2;
    display: block;
    transition: top 0.3s;
}

.header ul{
    float: right;
    margin-right: 50px;
    margin-top: 25px;
}

.header ul li{
    display: inline-block;
    list-style: none;
    margin-right: 20px;
    font-size: 20px;
    -webkit-transition: 0.5s;
}

li #navbarLogado{
    display: none;
}

.header ul li:hover{
    filter: invert(0.3) sepia(1) saturate(10);
}

.header ul li a{
    color: #fff;
    text-shadow: 3px 3px 4px #000000af;
    text-decoration: none;
}

.header .logo{
    width: 150px;
    float: left;
    -webkit-transition: 0.5s;
}

.header .logo:hover{
    filter: invert(0.3) sepia(1) saturate(10);
    transform: scale(1.05);
}

#wave{
    display: none;
}

.wave-header{
    margin-left: 20px;
    float: left;
}

.wave-header span{
    font-size: 12px;
}

.wave-header img{
    height: 45px;
    width: 250px;
    object-fit: cover;
    cursor: pointer;
}

/* FIM HEADER */

/* BANNER */

.banner{
    height: 570px;
}

.banner-noticia{
    height: 500px;
}

.banner-noticia .banner-img{
    z-index: -1;
    width: 100%;
    object-fit:contain;
    position: absolute;
    background-repeat: no-repeat; 
    background-size: 100%;
    
}

.banner .banner-img{
    z-index: -1;
    width: 100%;
    object-fit: cover;
    position: absolute;
    background-repeat: no-repeat; 
    background-size: 100%;
    
}

.ouvintes{
    width: 100%;
    text-align: center;
    padding-top: 300px;    
}

.ouvintes h1{
    font-family: DevilBreezeBold;
    color: #fff;
    font-size: 50px;
    text-shadow: 3px 3px 3px #191414;
}

.ouvintes h3{
    font-family: DevilBreezeBold;
    color: #fff;
    font-size: 40px;
    text-shadow: 3px 3px 3px #191414;
}

/* FIM BANNER */

/* FEATURES */

.features .row{
    margin-top: 60px;
}

.features h1{
    font-family: DevilBreezeBold;
    color: #fff;
    font-size: 60px;
}

.features h3{
    color: #fff;
    text-align: center;
    cursor: pointer;
}

.features img{
    width: 60%;
    border-radius: 5px;
    margin-bottom: 30px;
    cursor: pointer;
    -webkit-transition: 1s;
}

.features img:hover{
    transform: scale(1.2);
}

.features .display-flex{
    flex-direction: column;
}

/* FIM FEATURES */


/* SOBRE ALBUNS */

#nightvisions{
    display: none;
    animation: animate-div .7s;
    -webkit-animation: animate-div .7s;
}

#smokeMirrors{
    display: none;
    animation: animate-div .7s;
    -webkit-animation: animate-div .7s;
}

#evolve{
    display: none;
    animation: animate-div .7s;
    -webkit-animation: animate-div .7s;
}

#origins{
    display: none;
    animation: animate-div .7s;
    -webkit-animation: animate-div .7s;
}

#playMusic{
    position: fixed;
    bottom: 0px;
    width: 100%;
    z-index: 2;
    opacity: 0.3;
    -webkit-transition: .5s;
}

#playMusic:hover{
    opacity: 1;
}

#estrelas{
    display: none;
}

@-webkit-keyframes animate-div {
    from { opacity: 0; margin-top: -100px;}
    to { opacity: 1;margin-top: 0px;}
}

@-webkit-keyframes animate-div-out {
    from { opacity: 1; margin-top: 0px;}
    to { opacity: 0;margin-top: -100px;}
}

.sobre-album{
    margin-top: 100px;
    color: #fff;
}

.sobre-album img{
    width: 600px;
    height: 600px;
    object-fit: cover;
    border-radius: 0 10px 10px;
}

.sobre-album h1{
    margin-bottom: 40px;
    font-family: DevilBreezeBold;
}

.texto p{
    color: #fff;
    padding: 0px 40px 0px 40px;
    margin-bottom: 20px;
    text-indent: 40px;
    text-align: justify;
}

.singles{
    margin-top: 50px;
    margin-bottom: 10px;
}

.singles .col-5{
    display: flex;
    align-items: center;
    height: 300px;
}

.singles .col-7{
    display: flex;
    align-items: center;
    height: 300px;
}

.singles .h1Night{
    font-size: 40px;
    text-shadow: 2px 2px 3px #a06d00;
}

.singles .h1Night span{
    font-size: 40px;
    text-shadow: 2px 2px 3px #714486;
}

.singles .h1Smo{
    font-size: 40px;
    text-shadow: 2px 2px 3px #000000;
}

.singles h1 .smoMir{
    text-shadow: 2px 2px 3px #ffa600;
}

.singles .h1Evo{
    font-size: 40px;
    text-shadow: 2px 2px 3px #0099ff;
}

.singles .h1Evo .evo{
    text-shadow: 2px 2px 3px #008f13;
}

.singles .h1Ori{
    font-size: 40px;
    text-shadow: 2px 2px 3px #00719e;
}

.singles .ori{
    text-shadow: 2px 2px 3px #155a00;
}

.singles .col-7 .display-flex{
    flex-direction: column;
}


.singles img{
    z-index: -1;
    width: 100%;
    object-fit: cover;
    position: absolute;
    background-repeat: no-repeat; 
    background-size: 100%;
    height: 300px;
    filter:contrast(1.2) blur(3px);
}

.table-singles table{
    border-collapse: collapse;
}

.table-singles tr{
    cursor: pointer;
}

.titleEvolve{
    display: flex;
    align-items: center;
    justify-content: center;
}

.eEvolve{
    transform:rotateY(3.142rad);
}

.table-singles td{
    height: 35px;
    font-size: 12px;
    vertical-align: bottom;
    border-bottom: 0.1px #ffffff44 solid;
}

.table-singles tr:hover{
    vertical-align: middle; 
    font-weight: bold; 
}

.table-singles .tdId{
    width: 30px;
    border-bottom: none;
}

.table-singles .tdNome{
    width: 250px;
}

.estrelas{
    background-color: #fff;
    color: #191414;
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    border-radius: 15px;
    padding: 20px 30px;
    display: inline;
}

.estrelas span{
    float: left;
    margin-right: 10px;
}

.estrelas div{
    float: left;
}

.estrelas i{
    margin-left: 2px;
    margin-right: 2px;
    cursor: pointer;
}

.estrelas i:hover{
    transform: scale(1.1);
}

.icone-comentario{
    margin-left: 40px;
}

.icone-comentario:hover{
    transform: scale(1.1);
}

/* FIM SOBRE ALBUNS */


/* NOVIDADES */

.novidades h1{
    font-family: DevilBreezeBold;
    color: #fff;
    font-size: 60px;
    margin: 10px 0 80px;
}

.novidades img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 20px;
}

.novidades h2{
    color: #fff;
    font-family: DevilBreezeBold;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 30px;
}

.novidades h3{
    color: #fff;
    font-family: DevilBreezeBold;
    margin-bottom: 20px;
    margin-top: 20px;
}

.card-news{
    margin: 10px;
    background-color: #2424249f;
    padding: 30px 10px 30px 10px;
    border-radius: 20px;
    height: 500px;
}

.card-news .col-7{
    display: flex;
    align-items: center;
}

.degrade{
    background-image: linear-gradient(#19141400, #0b0b0b);
    height: 200px;
}

#antigas{
    display: none;
    -webkit-animation: animate-div .7s;
}

.descricao-noticia{
    background-color: #0b0b0b;
    padding-top: 60px;
    padding-bottom: 60px;
}

.titulo-video{
    color: #fff;
    margin: 30px;
    font-family: DevilBreezeBold;
    font-size: 30px;
}

.ver-mais{
    margin-top: 30px;
}

/* FIM NOVIDADES */

/* ANCORA */

.ancora{
    background-color: #fff;
    color: #191414;
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    margin: 10px;
    float: right;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 10px;
}

.ancora:hover{
    color: #ff9100;
}

/* FIM ANCORA */

/* FOOTER */

.footer{
    height: 80px;
    width: 100%;
    bottom: 0;
    padding-bottom: 20px;
    text-align: center;
    color: #fff;
    margin-top: 30px;
    /* border-top: #fff 1px solid; */
}

.footer li{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0px;
}

.footer i{
    font-size: 25px;
    margin-right: 20px;
    font-weight: bold;
}

.footer input, .footer textarea{
    width: 80%;
    margin: 10px 0px 0px 0px;
    resize: none;
    padding: 5px;
    font-family: Monserrat;
    outline: none;
    border: none;
    border-radius: 5px;
}

.footer button{
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 15px;
}

.footer .row{
    margin: 20px 0px;
}

.copy{
    padding: 30px 0px 10px;
    background-image: linear-gradient(transparent, #2b2a2a);
}

.footer a{
    color: #ff6600;
    font-weight: bold;
    text-decoration: none;
}

/* FIM FOOTER */

/* SOBRE */

#textoSobreBanda{
    -webkit-animation: animate-div .5s;
    display: none;
}

#sectionTRF img{
    margin: 20px 0px;
    width: 40%;
    border-radius: 10px;
}

.integrantes img{
    width: 90%;
    border-radius: 10px;
}

/* FIM SOBRE */


/* COMENTARIOS */

.comentarios{
    height: 100vh;
    width: 400px;
    background-color: #fff;
    color: #0b0b0b;
    right: -500px;
    top: 0;
    z-index: 6;
    padding: 0px 20px;
    box-shadow: -3px 0 5px #0b0b0b;
    position: fixed;
    overflow: auto;    
    transition: .5s ease;
}


.comentarios i{
    cursor: pointer;
}

.comentarios-cabecalho{
    height: 30px;
    background-color: #fff;
    padding: 20px 0px 0px 0px;
    position: sticky;
    top: 0;
    border-bottom: #1f1f1f 1px solid;
}

.comentarios_conteudo button{
    height: 40px;
    font-size: 20px;
    width: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.comentarios_conteudo{
    min-height: 100%;
}

.comentario-unico{
    margin: 10px 0px;
}

.comentario-unico .col-2{
    display: flex;
    align-items: center;
    justify-content: centerf;
}

.comentario-unico .col-8 span{
    max-width: 80%;
}

.comentario-unico img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
}

.comentario-unico #nickname{
    cursor: pointer;
    font-weight: bold;
}

.comentario-unico #msg{
    text-align: justify;
    text-indent: 30px;
}


.comentarios-rodape{
    border-top: #1f1f1f 1px solid;
    height: 45px;
    background-color: #fff;
    position: sticky;
    bottom: 0;
}

.comentarios-rodape form{
    width: 100%;
    display: inline-block;
}

.comentarios input{
    width: 100%;
    height: 100%;
    padding: 5px;
    border: none;
    outline: none;
}

.comentarios-rodape button{
    margin-top: 8px;
    float: left;
    cursor: pointer;
    border: none;
    width: 50px;
    height: 100%;
    border-radius: 10px;
    color: #834a00;
    background-color: #ff9100;
}

/* FIM COMENTARIOS */


/* Login */
.bg-login{
    background-image: url('img/banners/Login.png');
    background-repeat: no-repeat;
    background-size: 100%;
}

.section-login{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box-login{
    margin-top: 60px;
    width: 40vw;
    background-color: rgba(0, 0, 0, 0.87);
    padding: 40px;
    border-radius: 10px;
    color: #fff;
    display: flex;
    flex-direction: column;
}

.box-login h1{
    font-family: DevilBreezeBold;
    font-size: 40px;
    margin-bottom: 20px;
}

.box-login button{
    height: 40px;
    font-size: 20px;
    width: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.checkLembrar{
    margin: 20px 0px;
}

/* Fim Login */

/* Cadastro */

.bg-cadastro{
    background-image: url('img/banners/Cadastro.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
}

.section-cadastro{
    display: flex;
    justify-content: center;
}

.spanExemplo{
    font-size: 13px;
    margin-left: 20px;
    color: rgba(255, 255, 255, 0.404);
}

.box-cadastro{
    margin-top: 120px;
    background-color: rgba(0, 0, 0, 0.87);
    padding: 40px;
    width: 40vw;
    border-radius: 10px;
    color: #fff;
    display: flex;
    flex-direction: column;
}

.box-cadastro a{
    float: right;
    color: #fff;
}

.box-cadastro .col-4{
    display: flex;
    align-items: center;
}

.box-cadastro h1{
    font-family: DevilBreezeBold;
    font-size: 40px;
    margin-bottom: 20px;
}

.section-cadastro .col-6 input, .section-cadastro .col-6 label{
    width: 80%;
    margin-left: 10px;
}  

.box-cadastro button{
    float: left;
    height: 40px;
    font-size: 20px;
    width: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Fim Cadastro */

/* Modal Pefil */
#sectionModalPerfil{
    width: 100%;
    height: 100%;
    top: 0;
    position: fixed;    
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    align-items: center;
    justify-content: center;
}
.modalPerfil{
    z-index: 12;
    -webkit-animation: animate-div .5s;
    padding: 30px;
    background-color: white;
    width: 500px;
    border-radius: 10px;
}
.cabecalhoModal{
    margin-bottom: 10px;
}
.spanDestaqueModal{
    font-size: 20px;
    font-weight: bold;
}
.cabecalhoModal button{
    font-size: 15px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    -webkit-transition: .3s;
}
.cabecalhoModal button:hover{
    color: orange;
}

.corpoModal{
    padding-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.corpoModal span{
    font-size: 20px;
}

/* Fim Modal Perfil */


/* ---------------------------------------------------------------------------------- */
/* GRID */
/* ---------------------------------------------------------------------------------- */

.container{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: auto;
}

.display-flex{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.col-1{
    width: 8.33333333%;
    flex: 0 0 auto;
}

.col-2{
    width: 16.666666%;
    flex: 0 0 auto;
}

.col-3{
    width: 25%;
    flex: 0 0 auto;
}

.col-4{
    width: 33.3333333%;
    flex: 0 0 auto;
}

.dividir-5-partes{
    width: 20%;
    flex: 0 0 auto;
}

.col-5{
    width: 41.6666666%;
    flex: 0 0 auto;
}

.col-6{
    width: 50%;
    flex: 0 0 auto;
}

.col-7{
    width: 58.333333%;
    flex: 0 0 auto;
}

.col-8{
    width: 66.6666666%;
    flex: 0 0 auto;
}

.col-9{
    width: 75%;
    flex: 0 0 auto;
}

.col-10{
    width: 83.3333333%;
    flex: 0 0 auto;
}

.col-11{
    width: 91.6666666%;
    flex: 0 0 auto;
}

.col-12{
    width: 100%;
    flex: 0 0 auto;
}

/* ---------------------------------------------------------------------------------- */
/* FIM GRID */
/* ---------------------------------------------------------------------------------- */